*{
    box-sizing: border-box;
    transition: background-color .25s;
}
:root{
    --background-color: white;
    --border-color: black;
    --button-bg: rgb(23,156,218);
    --color: black;
    --zrobione: #e7e7e7;
    --label-focus-color: #202020;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    background-color: var(--background-color);
    color: var(--color);
}

button{
    background-color: var(--button-bg);
    border: none;
    padding: .5rem .75rem;
    border-radius: .6rem;
    color: white;
    transition: all .25s;
}

button:hover{
    filter:brightness(110%);
}

.drag-over{
    background-color: rgba(40, 173, 235, 0.1);
}

.active-drag{
    background-color: rgba(40, 173, 235, 0.25);
}

::-webkit-resizer{
    background-image: linear-gradient(to bottom right, transparent 75%, var(--color) 75%);
}

:root:has(#mode:checked){
    --background-color: black;
    --button-bg: #e86325;
    --color: white;
    --border-color: white;
    --zrobione: #181818;
    --label-focus-color: #dfdfdf;
}