*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

button{
    background-color: #179cda;
    border: none;
    padding: .5rem .75rem;
    border-radius: .6rem;
    color: white;
    transition: all .25s;
}

button:hover{
    filter:brightness(110%);
}

.dragged{
    position: absolute !important;
    z-index: 3;
}